@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

body {
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    background-color: #FFB72E;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    padding: 25px 0;
    position: relative;
    top: 0;
    letter-spacing: 3px;
}

button {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.5em;
    background-color: #FFB72E;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 150px);
    font-weight: 600;
    box-shadow: 3px 8px 8px rgba(0,0,0,0.3);
}

iframe {
    height: 110vh;
    width: 120%;
}

#map {
    width: 100%;
    overflow: hidden;
    margin-top: -150px;
}